[Unit]
Description=MeditationApp
ConditionPathExists=/var/www/apps/
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/apps/
ExecStart=/var/www/apps/bin/meditation
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=appgoservice

[Install]
WantedBy=multi-user.target