[Unit]
Description=Meditation
ConditionPathExists=/var/www/apps/
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/var/www/apps/
ExecStart=/var/www/apps/meditation
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=appgoservice

[Install]
WantedBy=multi-user.target